@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');
.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
}

.btn{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

